
# Analyzing Chipotle Data

_Author: Joseph Nelson (DC)_

---

For Project 2, you will complete a series of exercises exploring [order data from Chipotle](https://github.com/TheUpshot/chipotle), compliments of _The New York Times'_ "The Upshot."

For these exercises, you will conduct basic exploratory data analysis (Pandas not required) to understand the essentials of Chipotle's order data: how many orders are being made, the average price per order, how many different ingredients are used, etc. These allow you to practice business analysis skills while also becoming comfortable with Python.

---

## Basic Level

### Part 1: Read in the file with `csv.reader()` and store it in an object called `file_nested_list`.

Hint: This is a TSV (tab-separated value) file, and `csv.reader()` needs to be told [how to handle it](https://docs.python.org/2/library/csv.html).

In [1]:
import csv
from collections import namedtuple   # Convenient to store the data rows

DATA_FILE = './data/chipotle.tsv'

### Part 2: Separate `file_nested_list` into the `header` and the `data`.

In [2]:

import csv
from collections import namedtuple   # Convenient to store the data rows
import pandas as pd
chip=pd.read_table('chipotle.tsv')
display(chip)
import csv
with open('chipotle.tsv', mode='rU') as f:   
# We temporarily refer to the file by the variable name f for file
   c = [row for row in csv.reader(f, delimiter='\t')]   
 # Create a list by looping through each line in fimport pandas as pd

In [3]:
import pandas as pd

In [4]:
header= c[0]

In [5]:
data =c[1:]

In [6]:
chip=pd.DataFrame(data,columns=header)
chip.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NULL,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NULL,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

---

## Intermediate Level

### Part 3: Calculate the average price of an order.

Hint: Examine the data to see if the `quantity` column is relevant to this calculation.

Hint: Think carefully about the simplest way to do this!

In [7]:
chip.dtypes

order_id              object
quantity              object
item_name             object
choice_description    object
item_price            object
dtype: object

In [8]:
chip['ITMV2']=chip['item_price'].str.replace('$','').astype(float)

C:\Users\yunwc\AppData\Local\Temp\ipykernel_19544\118107695.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  chip['ITMV2']=chip['item_price'].str.replace('$','').astype(float)

In [9]:
chip.head()

,order_id,quantity,item_name,choice_description,item_price,ITMV2
0,1,1,Chips and Fresh Tomato Salsa,NULL,$2.39,2.39
1,1,1,Izze,[Clementine],$3.39,3.39
2,1,1,Nantucket Nectar,[Apple],$3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NULL,$2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,16.98

In [10]:
chip.groupby('order_id')['ITMV2'].mean()

order_id
1        2.890000
10       6.600000
100      5.040000
1000    10.250000
1001     5.040000
          ...
995      8.316667
996     10.750000
997     22.500000
998      5.440000
999      7.312500
Name: ITMV2, Length: 1834, dtype: float64

### Part 4: Create a list (or set) named `unique_sodas` containing all of unique sodas and soft drinks that Chipotle sells.

Note: Just look for `'Canned Soda'` and `'Canned Soft Drink'`, and ignore other drinks like `'Izze'`.

In [11]:
chip['item_name'].unique()

array(['Chips and Fresh Tomato Salsa', 'Izze', 'Nantucket Nectar',
       'Chips and Tomatillo-Green Chili Salsa', 'Chicken Bowl',
       'Side of Chips', 'Steak Burrito', 'Steak Soft Tacos',
       'Chips and Guacamole', 'Chicken Crispy Tacos',
       'Chicken Soft Tacos', 'Chicken Burrito', 'Canned Soda',
       'Barbacoa Burrito', 'Carnitas Burrito', 'Carnitas Bowl',
       'Bottled Water', 'Chips and Tomatillo Green Chili Salsa',
       'Barbacoa Bowl', 'Chips', 'Chicken Salad Bowl', 'Steak Bowl',
       'Barbacoa Soft Tacos', 'Veggie Burrito', 'Veggie Bowl',
       'Steak Crispy Tacos', 'Chips and Tomatillo Red Chili Salsa',
       'Barbacoa Crispy Tacos', 'Veggie Salad Bowl',
       'Chips and Roasted Chili-Corn Salsa',
       'Chips and Roasted Chili Corn Salsa', 'Carnitas Soft Tacos',
       'Chicken Salad', 'Canned Soft Drink', 'Steak Salad Bowl',
       '6 Pack Soft Drink', 'Chips and Tomatillo-Red Chili Salsa', 'Bowl',
       'Burrito', 'Crispy Tacos', 'Carnitas Crispy Tacos', 'Steak Salad',
       'Chips and Mild Fresh Tomato Salsa', 'Veggie Soft Tacos',
       'Carnitas Salad Bowl', 'Barbacoa Salad Bowl', 'Salad',
       'Veggie Crispy Tacos', 'Veggie Salad', 'Carnitas Salad'],
      dtype=object)

In [12]:
chip[chip['item_name'].str.contains('Canned')]['item_name'].value_counts()

Canned Soft Drink    301
Canned Soda          104
Name: item_name, dtype: int64

In [13]:
chip[chip['item_name'].str.contains('Canned')]['item_name'].unique()

array(['Canned Soda', 'Canned Soft Drink'], dtype=object)

---

## Advanced Level

### Part 5: Calculate the average number of toppings per burrito.

Note: Let's ignore the `quantity` column to simplify this task.

Hint: Think carefully about the easiest way to count the number of toppings!

In [14]:
chip

,order_id,quantity,item_name,choice_description,item_price,ITMV2
0,1,1,Chips and Fresh Tomato Salsa,NULL,$2.39,2.39
1,1,1,Izze,[Clementine],$3.39,3.39
2,1,1,Nantucket Nectar,[Apple],$3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NULL,$2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,16.98
...,...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75,11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75,11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25,11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75,8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75,8.75

In [15]:
chip[chip['item_name'].str.contains('Burrito')]['choice_description'].str.count(',').mean()

4.395051194539249

In [16]:
chip['choice_description'].str.count(',')

0       0
1       0
2       0
3       0
4       4
       ..
4617    6
4618    5
4619    4
4620    2
4621    3
Name: choice_description, Length: 4622, dtype: int64

In [17]:
chip[chip['item_name'].str.contains('Burrito')]['choice_description'][7]

'[Tomatillo Red Chili Salsa, [Fajita Vegetables, Black Beans, Pinto Beans, Cheese, Sour Cream, Guacamole, Lettuce]]'

### Part 6: Create a dictionary. Let the keys represent chip orders and the values represent the total number of orders.

Expected output: `{'Chips and Roasted Chili-Corn Salsa': 18, ... }`

Note: Please take the `quantity` column into account!

Optional: Learn how to use `.defaultdict()` to simplify your code.

In [18]:
chip.head()

,order_id,quantity,item_name,choice_description,item_price,ITMV2
0,1,1,Chips and Fresh Tomato Salsa,NULL,$2.39,2.39
1,1,1,Izze,[Clementine],$3.39,3.39
2,1,1,Nantucket Nectar,[Apple],$3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NULL,$2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,16.98

In [31]:
chip[chip['item_name'].str.contains('Chips')]['item_name'].value_counts().to_dict()

{'Chips and Guacamole': 479,
 'Chips': 211,
 'Chips and Fresh Tomato Salsa': 110,
 'Side of Chips': 101,
 'Chips and Tomatillo Red Chili Salsa': 48,
 'Chips and Tomatillo Green Chili Salsa': 43,
 'Chips and Tomatillo-Green Chili Salsa': 31,
 'Chips and Roasted Chili Corn Salsa': 22,
 'Chips and Tomatillo-Red Chili Salsa': 20,
 'Chips and Roasted Chili-Corn Salsa': 18,
 'Chips and Mild Fresh Tomato Salsa': 1}